body {
  margin: 0;
}

header .container {
  height: 4em;
  background-color: #50C878;
  display: grid;
  align-items: flex-end;
  padding-bottom: 0.5em;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1em;
}

header nav .logo {
  font-size: 2em;
}

header nav .sub-pages {
  display: grid;
  grid-auto-flow: column;
  column-gap: 1.0em;
  font-weight: bold;
}

header nav a {
  color: white;
  text-decoration: none;
}

.content {

}